<div class="search-container login">



  <h2>Login</h2>

  <form action="/auth/login" method="POST" id="form-container">

    <div>
      <input id="username" type="text" name="username" placeholder="Username">

      <br><br>

      <input id="password" type="password" name="password" placeholder="Password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>

    <br><br>

    
    <button>Login</button>
    <button><a href="/auth/instagram">Login via Instagram</a></button>
    <button><a href="/auth/twitter">Login via Twitter</a></button>


    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>

</div>