<div class="search-container signup">

  <h2>Signup</h2>
  <div>

    <form action="/auth/signup" method="POST" id="form-container">

      <input id="username" type="text" name="username" placeholder="Username">

      <br><br>

      <input id="password" type="password" name="password" placeholder="Password">

      <br><br>

      <input id="email" type="email" name="email" placeholder="Email">


      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

  </div>

  <br><br>

  <button>Create account</button>
  {{!-- <a href="/auth/instagram">Login via Instagram</a>
  <a href="/auth/twitter">Login via Twitter</a> --}}
  <button><a href="/auth/instagram">Login via Instagram</a></button>
  <button><a href="/auth/twitter">Login via Twitter</a></button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  </form>

</div>