<div class="search-container signup">

  <h2>Signup</h2>

  <form action="/auth/signup" method="POST" id="form-container">

    <div>
      <input id="username" type="text" name="username" placeholder="Username">

      <br><br>

      <input id="password" type="password" name="password" placeholder="Password">

      <br><br>

      <input id="email" type="email" name="email" placeholder="Email">


      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

    </div>

    <br><br>


    <div class="signup-buttons">
      <button>Create account</button>
      <button><a href="/auth/instagram">Login via Instagram</a></button>
      <button><a href="/auth/twitter">Login via Twitter</a></button>
    </div>


    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>

</div>