
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action='/search' method="post">

<label for="lat">Lat:</label>
<input type="number" step="any" name="lat" id="lat">

<label for="lng">Lng</label>
<input type="number" step="any" name="lng" id="lng">

<button type="submit">render map</button>

</form>

<h2><a href="/search">Search</a></h2>
<h2><a href="/search/:id">Favorites</a></h2>