<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <form action='/search' method="post">

  <label for="lat">Lat:</label>
  <input type="number" step="any" name="lat" id="lat">

  <label for="lng">Lng</label>
  <input type="number" step="any" name="lng" id="lng">

  <button type="submit">render map</button>

</form> --}}

<body>
  <form action='/search/address' method="post">
    <label for="address">Address:</label>
    <input placeholder="Address" type="address" name="address" id="address">
    {{!-- <label for="tag">Tags:</label>
  <input type="tag" name="tag" id="tag"> --}}

    <button type="submit">Search for location</button>
  </form>




  <form action='/search/location' method="post">
    <button><a href="/search/location">Current location</a></button>
  </form>

  <form action='/search' method="post">
    <button><a href="/search/favourites/:id">Favorites</a></button>
  </form>
</body>