<div class="search-container">


  <div class="new-gs-input">



    <div id="map" class="newGreenspace-map"></div>
    <script>
      let map;
      function initMap() {
        navigator.geolocation.getCurrentPosition((loc)=>{
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: loc.coords.latitude, lng: loc.coords.longitude },
          zoom: 15,
          styles:[
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
        });

        var image = 'https://res.cloudinary.com/dmlqhwwfc/image/upload/v1568720489/GreenSpace/greenspace_logo_small_70pxW_jbnsv9.png'
        var marker = new google.maps.Marker({
          position: { lat: loc.coords.latitude, lng: loc.coords.longitude },
          map: map,
          draggable: true,
          icon: image,
          title: "Drag me!"
          

        });

        })

        google.maps.event.addListener(marker, 'dragend', function (event) {
          document.getElementById("lat").value = this.getPosition().lat();
          document.getElementById("lng").value = this.getPosition().lng();
        });
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYLwxbUeRyQSlAjR9qLXh3pnr4TFCAIW0&callback=initMap">
      </script>






    <form id="new-gs-form" action="/greenspace/new" method="POST">


      <h2>Add your GreenSpace!</h2>

      <p>Pull the marker to get your GreenSpace location.</p>

      <div class="gs-name">
        <label for="name">GreenSpace Name: </label>
        <input placeholder="Name" type="text" name="name" id="name">
      </div>

      <div class="location">


        <input type="hidden" name="lat" id="lat">

        <input type="hidden" name="lng" id="lng">

      </div>

      <div class="legend-tags">

        <legend>Select tags for your GreenSpace:</legend>

        <div class="gs-tags">

          <div class="left-gs-tags">
            <div>
              <input type="checkbox" name="tags" id="tags" value="Park">
              <label for="Park">Park</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Garden">
              <label for="Garden">Garden</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Bench">
              <label for="Bench">Bench</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Steps">
              <label for="Steps">Steps</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Nature reserve">
              <label for="Nature reserve">Nature reserve</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Tiny space">
              <label for="Tiny space">Tiny space</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Water">
              <label for="Water">Water</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Trees">
              <label for="Trees">Trees</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Lawn">
              <label for="Lawn">Lawn</label>
            </div>
          </div>

          <div class="right-gs-tags">
            <div>
              <input type="checkbox" name="tags" id="tags" value="Food place">
              <label for="Food place">Food place</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Quiet">
              <label for="Quiet">Quiet</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Loud">
              <label for="Loud">Loud</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Sports">
              <label for="Sports">Sports</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Barbeque">
              <label for="Barbeque">Barbeque</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Picknick">
              <label for="Picknick">Picknick</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Playground">
              <label for="Playground">Playground</label>
            </div>
            <div>
              <input type="checkbox" name="tags" id="tags" value="Wheelchair-accessible">
              <label for="Wheelchair-accessible">Wheelchair-accessible</label>
            </div>
          </div>

        </div>

      </div>

<div class="form-error"></div>

      <div class="gs-button">

        <button id="form-button" onclick="formCheck(event)">Submit your GreenSpace!</button>

      </div>

    </form>


  </div>



  {{!-- {{#if message }}
<div class="error-message" style="">{{ message }}</div>
{{/if}} --}}


</div>