<div class="search-container">

  <h1>Welcome back {{user.username}} </h1>

  <button id="upload_widget" class="cloudinary-button">Change profile photo</button>
  <img class="profile-image" src="{{user.image}}" alt="Profile Image">


  <p> You have already added //NUMBER OF ADDED GREENSPACES. Length of greenspace array with their id// GreenSpaces.</p>


  <button><a href="/greenspace/new">Add another GreenSpace</a></button>

  <h2>Your favourite GreenSpaces</h2>
  <ul>
    <li>favourite GreenSpace number 1</li>
  </ul>

  <h2>Your images</h2>
  //ADD CAROUSEL.//

</div>