@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  font: 16px 'Roboto', 'Lato', "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 2.3rem;
  font-weight: 500; }

h2 {
  font-size: 1.8rem;
  font-weight: 500; }

h3 {
  font-size: 1.2rem;
  font-weight: 500; }

h4 {
  font-size: 0.8rem;
  font-weight: 500; }

p {
  font-size: 1rem;
  line-height: 2rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 10vw;
  background-color: #1c1c33;
  height: 90px; }
  .navbar #greenspace-logo {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 4vw;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000); }
  .navbar a {
    text-decoration: none;
    font-weight: 700;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000); }
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 45vw;
    list-style: none; }
  .navbar li {
    padding: 0 5px;
    text-align: center; }

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color: #1c1c33; }
  footer p {
    padding-right: 14vw;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000); }

.search-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  background-color: rgba(193, 214, 111, 0.548); }

.gm-style-iw-c {
  border-radius: 70px !important;
  border: 4px solid #619430;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3) !important; }

.gm-style-iw-t::after {
  border: 4px solid #619430;
  z-index: -1; }

.popup-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 13px;
  box-sizing: border-box; }
  .popup-section h4 {
    color: #1c1c33;
    text-align: center;
    padding: 3px; }

.popup-profile-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  /* border: 3px solid #C2D66F; */
  /* margin: 3px; */
  box-sizing: border-box;
  border: none; }

.gm-ui-hover-effect {
  height: 0px !important;
  width: 0px !important; }

.popup-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 6%;
  border: 3px solid #C2D66F;
  margin: 3px;
  box-sizing: border-box; }

.popup-button {
  background-color: #436623;
  border: none;
  border-radius: 3px;
  color: rgba(229, 250, 211, 0.986);
  cursor: pointer;
  font-size: 0.8rem;
  height: 23px;
  width: auto;
  padding: 3px 5px;
  box-sizing: border-box;
  margin-top: 5px;
  transition: all 0.3s ease 0s;
  border: 2px solid #C2D66F; }

.popup-button:hover {
  background-color: #C2D66F;
  color: #436623;
  transition: all 0.3s ease 0s;
  border: 2px solid #436623; }

.login {
  display: flex;
  justify-content: center;
  align-items: center; }
  .login h2 {
    box-sizing: border-box;
    padding: 5vh 0; }
  .login form {
    padding: 2vh 20vw 3vh 20vw; }
    .login form div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .login form input {
      width: 100%;
      height: 30px;
      text-align: center;
      border-radius: 5px; }
    .login form a {
      text-decoration: none;
      color: #436623;
      text-align: center; }
    .login form button {
      min-height: 55px;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 20px;
      box-sizing: border-box;
      width: 100%;
      background-color: #E98D58;
      border: 2px solid #494949;
      cursor: pointer;
      box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3);
      color: #494949;
      transition: all 0.3s ease 0s; }
      .login form button a {
        color: #494949; }
    .login form button:hover {
      color: #E9BC62 !important;
      border-radius: 40px;
      border-color: #E9BC62 !important;
      transition: all 0.3s ease 0s; }
      .login form button:hover a {
        color: #E9BC62; }
    .login form .account-message {
      box-sizing: border-box;
      padding: 4vh 0 3vh 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .login form .account-message a {
        padding-left: 8px;
        font-weight: 400;
        color: #494949;
        text-decoration: underline; }
      .login form .account-message a:hover {
        text-decoration: none;
        color: #E9BC62;
        transition: all 0.3s ease 0s;
        font-weight: 500; }

.login-buttons {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
  box-sizing: border-box; }

.signup {
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup h2 {
    box-sizing: border-box;
    padding: 5vh 0; }
  .signup form {
    padding: 2vh 20vw 3vh 20vw; }
    .signup form div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .signup form input {
      width: 100%;
      height: 30px;
      text-align: center;
      border-radius: 5px; }
    .signup form a {
      text-decoration: none;
      color: #436623;
      text-align: center; }
    .signup form button {
      min-height: 55px;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 20px;
      box-sizing: border-box;
      width: 100%;
      background-color: #E98D58;
      border: 2px solid #494949;
      cursor: pointer;
      box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3);
      color: #494949;
      transition: all 0.3s ease 0s; }
      .signup form button a {
        color: #494949; }
    .signup form button:hover {
      color: #E9BC62 !important;
      border-radius: 40px;
      border-color: #E9BC62 !important;
      transition: all 0.3s ease 0s; }
      .signup form button:hover a:hover {
        color: #E9BC62;
        transition: all 0.3s ease 0s; }
    .signup form .account-message {
      box-sizing: border-box;
      padding: 4vh 0 3vh 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .signup form .account-message a {
        padding-left: 8px;
        font-weight: 400;
        color: #494949;
        text-decoration: underline; }
      .signup form .account-message a:hover {
        text-decoration: none;
        color: #E9BC62;
        transition: all 0.3s ease 0s;
        font-weight: 500; }

.signup-buttons {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
  box-sizing: border-box; }

.index {
  background-image: url("  https://res.cloudinary.com/dmlqhwwfc/image/upload/v1568820044/GreenSpace/index_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white; }

.index-text {
  text-align: center; }
  .index-text h1 {
    padding: 4rem; }
  .index-text p {
    padding: 0 20vw;
    padding-bottom: 1.2rem; }

.index-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw; }
  .index-buttons form {
    padding: 3vh 0; }
    .index-buttons form input {
      width: 100%; }
  .index-buttons .index-button {
    min-height: 40px;
    width: 29vw;
    cursor: pointer;
    background-color: #C2D66F;
    color: #436623 !important;
    border: 4px solid #619430 !important;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .index-buttons .index-button a {
      color: #436623 !important;
      text-decoration: none;
      text-align: center; }
  .index-buttons .index-button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s; }
    .index-buttons .index-button:hover a {
      color: #494949 !important; }
  .index-buttons .id-search {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .index-buttons .id-search input {
      text-align: center;
      height: 40px;
      border-radius: 6px; }
    .index-buttons .id-search button {
      margin-top: 15px; }

.search-map {
  height: calc(100vh - 150px) !important; }

.panel {
  font-family: 'Roboto', 'sans-serif' !important;
  font-size: 0.8rem !important;
  border-radius: 3px;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3) !important;
  padding: 5px;
  z-index: 5;
  background: #fff;
  position: absolute;
  left: 10px;
  top: calc(100vh - 130px) !important;
  width: auto; }
  .panel h2 {
    font-size: 1.3rem !important; }

.new-gs-input {
  display: flex; }

.newGreenspace-map {
  height: calc(100vh - 150px) !important;
  width: 50vw; }

#new-gs-form {
  box-sizing: border-box;
  padding: 3% 5%;
  height: calc(100vh - 150px);
  width: 50vw;
  display: flex;
  flex-direction: column; }
  #new-gs-form p {
    padding: 10px 0;
    font-style: italic; }
  #new-gs-form .gs-name {
    padding-bottom: 10px; }
    #new-gs-form .gs-name label {
      font-style: italic;
      padding-right: 10px; }
    #new-gs-form .gs-name input {
      border-radius: 6px;
      text-align: center;
      width: 50%; }
  #new-gs-form .legend-tags legend {
    padding: 10px 0 5px 0;
    font-style: italic; }
  #new-gs-form .gs-tags {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 20px;
    justify-content: center; }
    #new-gs-form .gs-tags div {
      padding-top: 5px; }
    #new-gs-form .gs-tags .left-gs-tags {
      box-sizing: border-box;
      padding-left: 30px; }
    #new-gs-form .gs-tags .right-gs-tags {
      box-sizing: border-box;
      padding-left: 30px; }
  #new-gs-form .gs-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5vh; }
  #new-gs-form #form-button {
    background-color: #C2D66F;
    height: 40px;
    width: 230px;
    color: #436623;
    border: 4px solid #619430;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    line-height: 0; }
  #new-gs-form #form-button:hover {
    color: #494949;
    border-radius: 50px;
    border-color: #494949;
    transition: all 0.3s ease 0s;
    box-shadow: none; }
  #new-gs-form .form-error {
    text-align: center;
    color: #bd2c19;
    padding-top: 10px;
    font-weight: 500; }

.greenspace-profile {
  display: flex;
  align-items: center; }
  .greenspace-profile h2 {
    padding: 5vh 0 2vh 0; }

.tag-div ul {
  padding-bottom: 2vh;
  padding-left: 40px;
  color: #1C1B33; }

.tag-div li {
  padding: 3px 0;
  width: 33%;
  float: left; }

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-items: center;
  padding: 2vh 0; }
  .gallery-images span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.greenspace-image {
  box-sizing: border-box;
  object-fit: cover;
  margin: 5px 5px;
  border: none;
  border-radius: 10px;
  max-width: 220px;
  max-height: 180px;
  width: 100%;
  height: auto; }

.greenspace-image:hover {
  transform: scale(1.4);
  transition-duration: .3s;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3); }

.gallery-button {
  display: flex;
  align-items: center;
  justify-content: center; }

.comment-error {
  text-align: center;
  color: #bd2c19;
  padding-top: 10px;
  font-weight: 500; }

.user-image-comment {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #436623; }

#add-comment {
  background-color: #C2D66F;
  height: 40px;
  width: 230px;
  color: #436623;
  border: 4px solid #619430;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  line-height: 0; }
  #add-comment a {
    text-decoration: none; }

#add-comment:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  box-shadow: none; }

.profile-button {
  background-color: #C2D66F;
  height: 40px;
  width: 230px;
  color: #436623;
  border: 4px solid #619430;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  line-height: 0; }
  .profile-button a {
    text-decoration: none; }

.profile-button:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  box-shadow: none; }

#star-favourite {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent; }
  #star-favourite img {
    height: 40px;
    width: 40px;
    cursor: pointer; }

#star-favourite:hover img {
  transform: scale(1.2);
  transition-duration: .3s; }

.user-profile {
  align-items: center; }
  .user-profile h2 {
    padding: 5vh 0 2vh 0; }
  .user-profile button {
    margin: 3vh 0;
    box-sizing: border-box; }

.user-info {
  display: flex;
  min-width: 60%;
  flex-direction: row;
  padding: 3vh 0;
  justify-content: space-around; }

.user-image-div {
  display: flex;
  align-items: center;
  flex-direction: column; }

.profile-image {
  min-height: 50px;
  min-width: 50px;
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #1e1b4d;
  box-sizing: border-box;
  margin-bottom: 2vh; }

.favourite-div h3 {
  color: #1C1B33;
  padding-bottom: 2vh;
  text-decoration: underline; }

.favourite-div ul {
  padding-bottom: 2vh;
  padding-left: 40px;
  color: #436623; }

.favourite-div li {
  padding: 10px 0; }

.favourite-div a {
  text-decoration: none;
  color: #436623;
  transition: all 0.3s ease 0s; }

.favourite-div a:hover {
  text-decoration: underline;
  color: #A8C45E;
  transition: all 0.3s ease 0s; }

.add-gs-button {
  background-color: #C2D66F;
  min-height: 40px;
  width: 10vw;
  color: #436623;
  border: 4px solid #619430;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  line-height: 0;
  padding: 3px 0; }
  .add-gs-button a {
    text-decoration: none;
    color: #436623;
    transition: all 0.3s ease 0s; }

.add-gs-button:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  box-shadow: none; }
  .add-gs-button:hover a {
    text-decoration: none;
    color: #494949;
    transition: all 0.3s ease 0s; }

.cloudinary-button {
  background-color: #7B9EB0 !important;
  /* max-height: 60px !important; */
  width: auto !important;
  color: #1e1b4d !important;
  border: 4px solid #1e1b4d !important;
  border-radius: 6px !important;
  transition: all 0.3s ease 0s !important;
  /* line-height: 0 !important; */
  padding: 5px 5px !important;
  /* margin: 0 !important; */
  font-size: 0.9rem !important; }

.cloudinary-button:hover {
  color: #3878C6 !important;
  border-radius: 50px !important;
  border-color: #3878C6 !important;
  transition: all 0.3s ease 0s !important;
  box-shadow: none !important; }

.popup-box {
  color: red !important; }

.error-message {
  text-align: center;
  color: #bd2c19;
  font-weight: 500; }

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .error-page h2 {
    padding: 3vh; }

/*# sourceMappingURL=style.css.map */