@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  padding: 0;
  margin: 0;
  outline: none;
  font: 16px 'Roboto', 'Lato', "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 1.9rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 0.9rem;
  }
}

h4 {
  font-size: 0.8rem;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 0.6rem;
  }
}

p {
  font-size: 1rem;
  line-height: 2rem;

  @media (max-width: 500px) {
    font-size: 0.7rem;
  }
}



/// ##############      LAYOUT - NAVBAR       ##############  

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 10vw;
  // background-color: #495669;
  background-color: #1c1c33;
  height: 90px;


  #greenspace-logo {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 4vw;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);



    @media (max-width: 500px) {
      padding-left: 0;
      height: 40px;
      width: 40px;
    }

  }



  a {
    text-decoration: none;
    font-weight: 700;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 45vw;
    list-style: none;
  }

  li {
    padding: 0 5px;
    text-align: center;
  }
}




/// ##############      LAYOUT - FOOTER       ##############  

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px;

  // background-color: #495669;
  background-color: #1c1c33;

  p {
    padding-right: 14vw;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);

    @media (max-width: 500px) {
      font-size: 0.7rem;
    }


  }
}

/// ##############     CONTAINER       ##############  

.search-container {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 150px);
  min-height: calc(100vh - 150px);
  background-color: rgba(193, 214, 111, 0.548)
}



/// ##############     SEARCH - LOCATION  / ADDRESS     ##############  


.gm-style-iw-c {
  border-radius: 70px !important;
  border: 4px solid #619430;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3) !important;
}

.pop-btn {
  display: flex;
}

.popup-div {

  display: flex;
  flex-direction: column;

  p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 0.9rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .p-bottom {
    padding-bottom: 12px;
  }
}

.gm-style-iw-t::after {
  border: 4px solid #619430;
  z-index: -1;
  top: -3px !important;
}


.popup-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 13px 13px 3px 13px;

  box-sizing: border-box;

  h4 {
    color: #1c1c33;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
  }
}


.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style-iw {
  padding: 0 !important;
}


.popup-profile-image {
  margin-bottom: -4px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
}


.gm-ui-hover-effect {
  height: 0px !important;
  width: 0px !important;
}


.popup-image {
  height: 100px;
  width: 160px;
  object-fit: cover;
  border-radius: 6%;
  border: 3px solid #C2D66F;
  margin: 3px;
  box-sizing: border-box;
}

.popup-button {
  background-color: #436623;
  border: none;
  border-radius: 3px;
  color: rgba(229, 250, 211, 0.986);
  cursor: pointer;
  font-size: 0.8rem;
  height: 23px;
  width: auto;
  padding: 3px 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  transition: all 0.3s ease 0s;
  border: 2px solid #C2D66F;

  a {
    text-decoration: none;
    color: rgba(229, 250, 211, 0.986);
    font-size: 0.8rem;
  }
}


.popup-div {
  display: flex;
  flex-direction: column;
}

.popup-button:hover {
  background-color: #C2D66F;
  color: #436623;
  transition: all 0.3s ease 0s;
  border: 2px solid #436623;

  a {
    text-decoration: none;
    color: #436623;
  }
}




/// ##############     LOGIN     ##############  

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    box-sizing: border-box;
    padding: 5vh 0;
  }

  form {
    padding: 2vh 20vw 3vh 20vw;


    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    input {
      width: 100%;
      height: 30px;
      text-align: center;
      border-radius: 5px;
    }


    a {
      text-decoration: none;
      color: #436623;
      text-align: center
    }

    button {
      min-height: 55px;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 20px;
      box-sizing: border-box;
      width: 100%;

      background-color: #E98D58;
      border: 2px solid #494949;
      cursor: pointer;
      box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3);
      color: #494949;
      transition: all 0.3s ease 0s;

      a {
        color: #494949;
      }
    }


    button:hover {

      color: #E9BC62 !important;
      border-radius: 40px;
      border-color: #E9BC62 !important;
      transition: all 0.3s ease 0s;

      a {
        color: #E9BC62;
      }

    }

    .account-message {
      box-sizing: border-box;
      padding: 4vh 0 3vh 0;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding-left: 8px;
        font-weight: 400;
        color: #494949;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
        color: #E9BC62;
        transition: all 0.3s ease 0s;
        font-weight: 500;
      }
    }

  }
}

.login-buttons {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
  // padding: 0 10px;
  box-sizing: border-box;
}

/// ##############     SIGNUP     ##############  

.signup {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    box-sizing: border-box;
    padding: 5vh 0;
  }

  form {
    padding: 2vh 20vw 3vh 20vw;


    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    input {
      width: 100%;
      height: 30px;
      text-align: center;
      border-radius: 5px;
    }


    a {
      text-decoration: none;
      color: #436623;
      text-align: center
    }

    button {
      min-height: 55px;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 20px;
      box-sizing: border-box;
      width: 100%;

      background-color: #E98D58;
      border: 2px solid #494949;
      cursor: pointer;
      box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3);
      color: #494949;
      transition: all 0.3s ease 0s;

      a {
        color: #494949;
      }
    }


    button:hover {

      color: #E9BC62 !important;
      border-radius: 40px;
      border-color: #E9BC62 !important;
      transition: all 0.3s ease 0s;

      a:hover {
        color: #E9BC62;
        transition: all 0.3s ease 0s;
      }

    }



    .account-message {
      box-sizing: border-box;
      padding: 4vh 0 3vh 0;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding-left: 8px;
        font-weight: 400;
        color: #494949;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
        color: #E9BC62;
        transition: all 0.3s ease 0s;
        font-weight: 500;
      }
    }

  }
}

.signup-buttons {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
  // padding: 0 10px;
  box-sizing: border-box;
}

/// ##############     INDEX       ##############  

.index {
  background-image: url("  https://res.cloudinary.com/dmlqhwwfc/image/upload/v1568820044/GreenSpace/index_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}



.index-text {
  text-align: center;

  h1 {
    padding: 4rem;
  }

  p {
    padding: 0 20vw;
    padding-bottom: 1.2rem;
  }

}

.index-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;

  form {
    padding: 3vh 0;

    input {
      width: 100%;
    }
  }

  .index-button {
    min-height: 40px;
    width: 29vw;
    cursor: pointer;
    background-color: #C2D66F;
    color: #436623 !important;
    border: 4px solid #619430 !important;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #436623 !important;
      text-decoration: none;
      text-align: center;
    }
  }

  .index-button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;

    a {
      color: #494949 !important;
    }
  }

  .id-search {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      text-align: center;
      height: 40px;
      // width: 25%;
      border-radius: 6px;
      // outline: none;
    }

    button {
      margin-top: 15px;
    }

  }

}


/// ##############     SEARCH-MAP       ##############  

.search-map {
  height: calc(100vh - 150px) !important;
  // min-height: calc(100vh - 150px) !important;
}

.panel {
  font-family: 'Roboto', 'sans-serif' !important;
  font-size: 0.8rem !important;
  border-radius: 3px;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3) !important;
  padding: 5px;
  z-index: 5;
  background: #fff;
  position: absolute;
  left: 10px;
  // left: 35%;
  // top: 22%;
  top: calc(100vh - 130px) !important;
  width: auto;

  // max-width: 300px;

  h2 {
    font-size: 1.3rem !important;
  }
}



//#####################  NEW GREENSPACE  ############################


.new-gs-input {
  display: flex;
}


.newGreenspace-map {
  min-height: calc(100vh - 150px) !important;
  width: 50vw;
}


#new-gs-form {
  box-sizing: border-box;
  padding: 3% 5%;
  height: calc(100vh - 150px);
  width: 50vw;

  display: flex;
  flex-direction: column;

  p {
    padding: 10px 0;
    font-style: italic;
  }

  .gs-name {
    padding-bottom: 10px;

    label {
      font-style: italic;
      padding-right: 10px;
    }

    input {
      border-radius: 6px;
      text-align: center;
      width: 50%;
    }
  }

  .legend-tags {
    legend {
      padding: 10px 0 5px 0;
      font-style: italic
    }
  }

  .gs-tags {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;


    div {
      padding-top: 5px;
    }

    .left-gs-tags {
      box-sizing: border-box;
      padding-left: 30px;
    }

    .right-gs-tags {
      box-sizing: border-box;
      padding-left: 30px;
    }

  }

  .gs-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5vh;
  }


  #form-button {
    background-color: #C2D66F;
    height: 40px;
    width: 230px;
    color: #436623;
    border: 4px solid #619430;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    line-height: 0;
  }

  #form-button:hover {
    color: #494949;
    border-radius: 50px;
    border-color: #494949;
    transition: all 0.3s ease 0s;
    box-shadow: none;
  }

  .form-error {
    text-align: center;
    color: #bd2c19;
    padding-top: 10px;
    font-weight: 500;
  }

}


//#####################  GreenSpace PROFILE  ############################

.greenspace-profile {
  display: flex;
  align-items: center;

  h2 {
    padding: 5vh 0 2vh 0;
    text-align: center;
  }
}

.tag-div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    padding-bottom: 2vh;
    padding-left: 20%;
    color: #1C1B33;
    width: 80%;
  }

  li {
    padding: 3px 0;
    width: 33%;
    float: left;
    max-width: 300px;
  }
}


// #### GREENSPACE PROFILE - Favourites Section #######

.fav-form {
  display: flex;
  align-items: center;
  padding-top: 10px;

  label {
    color: #F18701;
    font-size: 0.8rem;
  }
}

#star-favourite {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;

  img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding-left: 10px;
  }
}

#star-favourite:hover img {
  transform: scale(1.2);
  transition-duration: .3s;
}


// #### GREENSPACE PROFILE -Gallery #######

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-items: center;
  padding: 2vh 0;

  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.greenspace-image {
  box-sizing: border-box;
  object-fit: cover;
  margin: 5px 5px;
  border: none;
  border-radius: 6px;
  max-width: 220px;
  max-height: 170px;
  width: 100%;
  height: auto;
}

.greenspace-image:hover {
  transform: scale(1.4);
  transition-duration: .3s;
  box-shadow: 0 3px 4px 1px rgba(15, 51, 12, 0.3);
}

.gallery-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

// #### GREENSPACE PROFILE - Comment Section #######

.comment-list {
  width: 87vw;
  padding-top: 30px;

  ul {
    list-style: none;

    span {
      display: flex;
      align-items: center;
      float: left;
      padding: 0 20px;
    }
  }


  li {
    font-style: italic;
    max-width: 25vw;
  }
}

.comment-error {
  text-align: center;
  color: #bd2c19;
  padding: 10px;
  font-weight: 500;
}

.user-image-comment {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #436623;
  margin-right: 10px;
  margin-top: 10px;
}


// #### GREENSPACE PROFILE - Comment form #######

#comment-form {
  display: flex;
  align-items: center;
  min-width: 50vw;

  input {
    width: 90%;
    height: 45px;
    text-align: center;
    border-radius: 5px;
  }
}

#add-comment {
  background-color: #7B9EB0 !important;
  width: auto !important;
  color: rgb(30, 27, 77) !important;
  border: 4px solid rgb(30, 27, 77) !important;
  border-radius: 6px !important;
  transition: all 0.3s ease 0s !important;
  padding: 5px 5px !important;
  margin-left: 20px;
  font-size: 0.9rem !important;
}

#add-comment:hover {
  color: #3878C6 !important;
  border-radius: 50px !important;
  border-color: #3878C6 !important;
  transition: all 0.3s ease 0s !important;
  box-shadow: none !important;
}




// #### GREENSPACE PROFILE - Button Section #######

.gs-profile-btns {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.nav-btn {
  img {
    height: 40px;
    width: 40px;
  }
}

.nav-btn:hover {
  img {
    transform: scale(1.2);
    transition-duration: .3s;
  }
}

.profile-button {
  background-color: #C2D66F;
  min-height: 40px;
  width: 13vw;
  color: #436623;
  border: 4px solid #619430;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  padding: 3px 3px;
  margin: 7vh 20px;

  a {
    text-decoration: none;
    color: #436623;
    transition: all 0.3s ease 0s;
  }

}

.profile-button:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  box-shadow: none;
}



//#####################  USER PROFILE  ############################

.user-profile {
  align-items: center;

  h2 {
    padding: 5vh 0 2vh 0;
    text-align: center;
  }

  button {
    margin: 3vh 0;
    box-sizing: border-box;
  }
}

.user-info {
  display: flex;
  min-width: 60%;
  // align-items: center;
  flex-direction: row;
  padding: 3vh 0;
  justify-content: space-around;
}


.user-image-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.profile-image {
  min-height: 50px;
  min-width: 50px;
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(30, 27, 77);
  box-sizing: border-box;
  margin-bottom: 2vh;
}



.favourite-div {

  h3 {
    color: #1C1B33;
    padding-bottom: 2vh;
    text-decoration: underline;
    text-align: center;
  }

  ul {
    padding-bottom: 2vh;
    padding-left: 10px;
    color: #436623;
    list-style: none;
  }

  li {
    position: relative;
    padding-left: 30px;
    line-height: 2.2rem;
  }

  li:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url("/images/star_golden.png");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 45.3%;
    transform: translateY(-50%);
    // padding-bottom: 10px;
  }



  a {
    text-decoration: none;
    color: #436623;
    transition: all 0.3s ease 0s;
    padding-left: 5px;
  }

  a:hover {
    text-decoration: underline;
    color: #A8C45E;
    transition: all 0.3s ease 0s;
  }

}

.add-gs-button {
  background-color: #C2D66F;
  min-height: 40px;
  width: 10vw;
  color: #436623;
  border: 4px solid #619430;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  line-height: 0;
  padding: 3px 0;

  a {
    text-decoration: none;
    color: #436623;
    transition: all 0.3s ease 0s;
  }

}

.add-gs-button:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
  box-shadow: none;

  a {
    text-decoration: none;
    color: #494949;
    transition: all 0.3s ease 0s;
  }

}





//#####################  CLOUDINARY BUTTON FOR IMAGES  ############################

.cloudinary-button {
  background-color: #7B9EB0 !important;
  width: auto !important;
  color: rgb(30, 27, 77) !important;
  border: 4px solid rgb(30, 27, 77) !important;
  border-radius: 6px !important;
  transition: all 0.3s ease 0s !important;
  padding: 5px 5px !important;
  font-size: 0.9rem !important;
}


.cloudinary-button:hover {
  color: #3878C6 !important;
  border-radius: 50px !important;
  border-color: #3878C6 !important;
  transition: all 0.3s ease 0s !important;
  box-shadow: none !important;
}

.popup-box {
  color: red !important;
}




//#####################  ERROR MESSAGE  ############################

.error-message {
  text-align: center;
  color: #bd2c19;
  font-weight: 500;
}

//#####################  ERROR PAGE  ############################
.error-page {

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  h2 {
    padding: 3vh;
  }
}