@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  padding: 0;
  margin: 0;
  outline: none;
  font: 16px 'Roboto', 'Lato', "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-weight: 500;
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

/// ##############      LAYOUT - NAVBAR       ##############  

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 10vw;
  // background-color: #495669;
  background-color: #1c1c33;
  height: 90px;


  #greenspace-logo {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 4vw;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);
  }



  a {
    text-decoration: none;
    font-weight: 700;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);
  }


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vw;
    list-style: none;
  }
}




/// ##############      LAYOUT - FOOTER       ##############  

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px;

  // background-color: #495669;
  background-color: #1c1c33;

  p {
    padding-right: 14vw;
    background: -webkit-linear-gradient(#C2D66F, #619430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(4px 4px 5px #000000);
  }
}

/// ##############     SEARCH - CONTAINER       ##############  

.search-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
}


/// ##############     index.hbs       ##############  
.index {
  background-image: url("/images/index_background4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}



.index-text {
  text-align: center;

  h1 {
    padding: 7vh;
  }

  p {
    padding: 0 20vw;
  }

}

.index-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;

  form {
    padding: 3vh 20vw;

    a {
      text-decoration: none;
    }

    button {
      height: 40px;
      width: 25vw;
      cursor: pointer;

      background-color: #C2D66F;

      color: #436623 !important;
      border: 4px solid #619430 !important;
      border-radius: 6px;
      display: inline-block;
      transition: all 0.3s ease 0s;

      a {
        color: #436623 !important;
      }
    }

    button:hover {
      color: #494949 !important;
      border-radius: 50px;
      border-color: #494949 !important;
      transition: all 0.3s ease 0s;

      a {
        color: #494949 !important;
      }
    }

  }


  .id-search {
    display: flex;
    flex-direction: column;

    input {
      text-align: center;
      height: 40px;
      width: 25vw;
      border-radius: 6px;
      // outline: none;
    }

    button {
      margin-top: 15px;
    }

  }

}


/// ##############     SEARCH-MAP       ##############  

.search-map {
  height: calc(100vh - 150px) !important;
}


//#####################  NEW GREENSPACE  ############################


.new-gs-input {
  display: flex;
}


.newGreenspace-map {
  height: calc(100vh - 150px) !important;
  width: 50vw;
}


#new-gs-form {
  box-sizing: border-box;
  padding: 3% 5%;
  width: 50vw;

  display: flex;
  flex-direction: column;

  p {
    padding: 10px 0;
    font-style: italic;
  }

  .gs-name {
    padding-bottom: 10px;

    label {
      font-style: italic
    }

    input {
      border-radius: 6px;
      text-align: center;
    }
  }

  .legend-tags {
    legend {
      padding: 10px 0 5px 0;
      font-style: italic
    }
  }

  .gs-tags {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 20px;

    div {
      padding-top: 5px;
    }

    .left-gs-tags {
      box-sizing: border-box;
      padding-left: 30px;
    }

    .right-gs-tags {
      box-sizing: border-box;
      padding-left: 30px;
    }

  }


  #form-button {
    background-color: #C2D66F;
    height: 40px;
    width: 230px;
    color: #436623;
    border: 4px solid #619430;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    line-height: 0;
  }

  #form-button:hover {
    color: #494949;
    border-radius: 50px;
    border-color: #494949;
    transition: all 0.3s ease 0s;
    box-shadow: none;
  }

}

//#####################  USER PROFILE  ############################


.profile-image {
  height: 50px;
  width: 50px;
}

//#####################  CLOUDINARY  ############################

.cloudinary-button {
  background-color: #C2D66F !important;
  height: 40px !important;
  width: 25vw !important;
  color: #436623 !important;
  border: 4px solid #619430 !important;
  border-radius: 6px !important;
  display: inline-block !important;
  transition: all 0.3s ease 0s !important;
  line-height: 0 !important;
}



.cloudinary-button:hover {
  color: #494949 !important;
  border-radius: 50px !important;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s !important;
  box-shadow: none !important;
}

.popup-box {
  color: red !important;
}