* {
  padding: 0;
  margin: 0
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/// ##############      LAYOUT - NAVBAR       ##############  

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 10vw;
  //background-color: #FEFEFE;
  background-image: linear-gradient(#C2D66F, #619430);
  height: 90px;
  //width: 100vw;


  #greenspace-logo {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 5vw;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(80, 74, 57));
    filter: drop-shadow(5px 5px 5px rgb(80, 74, 57));
  }


  a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(10, 71, 10);
  }


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vw;
    list-style: none;
  }
}


.profile-image {
  height: 50px;
  width: 50px;
}


//#####################  CLOUDINARY  ############################


.cloudinary-button {
  background-color: #6E9F2D !important;
}

.popup-box {
  color: red !important;
}

// // .cloudinary.openUploadWidget
// #upload_widget {
//   styles: {
//     palette: {
//       window: "#F5F5F5",
//         sourceBg: "#FFFFFF",
//         windowBorder: "#74A772",
//         tabIcon: "#00C710",
//         inactiveTabIcon: "#91B390",
//         menuIcons: "#08C700",
//         link: "#65A747",
//         action: "#8F5DA5",
//         inProgress: "#0194c7",
//         complete: "#74A772",
//         error: "#c43737",
//         textDark: "#B7714B",
//         textLight: "#FFFFFF"
//     }
//   }

//   fonts: {

//     default: null,
//     "'Poppins', sans-serif": {
//       url: "https://fonts.googleapis.com/css?family=Poppins",
//         active: true
//     }
//   }

// }